.wt-200{
    width: 200px !important;
    min-width: 200px;
    white-space: nowrap; /* чтобы не переносился */
}
.wt-50{
    width: 50px !important;
    min-width: 50px;
    white-space: nowrap; /* чтобы не переносился */
}
.wt-100{
    width: 100px !important;
    min-width: 100px;
    white-space: nowrap; /* чтобы не переносился */
}
.wt-150{
    width: 150px !important;
    min-width: 150px;
    white-space: nowrap; /* чтобы не переносился */
}